.detail_wrapper {
    width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 50px;

    .header-content-Wrapper {
        width: 100%;

        >img {
            width: 100%;
            height: 100%;
        }

        .good-info {
            padding-top: 10px;

            >p {
                height: 30px;
                line-height: 30px;
                padding: 0 15px;
            }

            .title {
                font-size: 14px;
                color: #333;
            }

            .describe {
                font-size: 12px;
                color: #666;
            }

            .amount-count {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;

                >span {
                    color: red;

                    .sold {
                        color: #333;
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }

                .sold-out-text {
                    font-size: 14px;
                    color: #666;
                    margin-right: 10px;
                }
            }
        }

        .good-describe-list {
            box-sizing: border-box;
            padding: 0 10px;
            background-color: #fff;

            .am-list-body::after {
                height: 0;
            }

            .am-list-body {
                .am-list-item {
                    padding-left: 0;
                }
            }

            .am-list-line {
                .am-list-content {
                    font-size: 12px;
                    color: #666;
                }
            }
        }

        .evaluation-list {
            box-sizing: border-box;
            padding: 0 10px;
            background-color: #fff;
            .am-list-body::after {
                height: 0;
            }
            .am-list-item{
                padding-left: 0;
                .am-list-line{
                    padding-right: 0;
                }
            }
            .am-list-line {
                .am-list-content {
                    font-size: 14px;
                    color: #666;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .detail-content-wrapper {
        width: auto;
        box-sizing: border-box;
        background-color: #fff;
        .am-list{
            padding: 0 10px;
            box-sizing: border-box;
        }
        .am-whitespace.am-whitespace-md {
            background-color: #F5F5F5;
        }

        .specifications-list {
            .am-list-header {
                font-size: 18px;
                color: #333;
                padding: 10px 0;
            }
            .am-list-body::after {
                height: 0;
            }
            .am-list-body {
                .am-list-item {
                    padding-left: 0;

                    .am-list-line {
                        .am-list-content {
                            font-size: 14px;
                            color: #666;
                        }

                        .am-list-extra {
                            flex-basis: 75%;
                            font-size: 14px;
                            color: #666;
                            text-align: left;
                        }
                    }
                }
            }
        }

        .good-img-list {
            width: 100%;
            .am-list-body::before {
                height: 0;
            }
            .am-list-body::after {
                height: 0;
            }
            .am-list-body {
                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .introduce-img-list {
            width: 100%;
            .am-list-body::before {
                height: 0;
            }
            .am-list-body::after {
                height: 0;
            }
            .am-list-body {
                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .details-title {
        line-height: 32px;
        font-size: 15px;
        font-weight: bold;
        color: #333;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .details-subtitle {
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        color: #8c8c8c;
        text-align: left;
    }

    .bottom-wrapper {
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        z-index: 9;
        background-color: #fff;
        display: flex;

        .left {
            width: 60px;
            @extend .flexCenter;
        }

        .right {
            flex: 1;
            @extend .flexCenter;

            .am-button {
                width: 90%;
                height: 45px;
                line-height: 45px;
                background-image: linear-gradient(to right, #ffd01e 0%, #ff8917 100%);
                color: #fff;
                border-radius: 30px;
                position: relative;
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 413px) and (min-width: 375px) {
    .video-item {
        width: 111px;
        margin-right: 11px;
    }

    .video-item {
        width: 105px;
        float: left;
        margin: 0 12px 5px 0;
    }
}

@media screen and (max-width: 413px) and (min-width: 375px) {
    .video-link {
        width: 111px;
    }

    .video-link {
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 105px;
        float: left;
    }
}

@media screen and (max-width: 413px) and (min-width: 375px) {
    .video-img {
        width: 111px;
        height: 148px;
    }

    .video-img {
        width: 105px;
        height: 141px;
        float: left;
    }
}

@media screen and (max-width: 413px) and (min-width: 375px) {
    .video-title {
        width: 111px;
    }

    .video-title {
        width: 105px;
        height: 26px;
        float: left;
        line-height: 26px;
        font-size: 14px;
        color: #333;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}