.myOrder-wrapper {
    height: 100%;
    background-color: $bg-color;
    overflow: hidden;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;

    .am-tabs {
        height: calc(100% - 55px);
    }

    .am-tabs-tab-bar-wrap {
        background-color: #fff;
        z-index: 9;
    }

    .content-wrapper {
        height: 100%;
        background-color: $bg-color;

        .list-item {
            box-sizing: border-box;
            width: 100%;
            height: 230px;
            border-radius: 10px;
            margin: 10px 0px;
            background-color: #fff;

            .head-row {
                height: 60px;
                line-height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: #666;
                padding: 0 10px;
                border: 1px solid #f5f5f5;
                .left {}

                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >span:first-child {
                        margin-right: 10px;
                    }

                    .iconWrapper {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #f1f1f1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .moddile-row {
                height: 70px;
                padding: 0 10px;
                margin: 10px 0;
                display: flex;
                align-items: center;
                overflow: scroll;
                .multiple-img-wrapper::-webkit-scrollbar {
                    display: none;
                }
                .multiple-img-wrapper{
                    flex: 1;
                    overflow: scroll;
                    display: flex;
                    flex-wrap: nowrap;
                    >div{
                        display: flex;
                        flex-wrap: nowrap;
                        >img{
                            width: 60px;
                            height:60px;
                            margin: 0 5px;
                        }
                    }
                }
                .right-text{
                    min-width: 60px;
                    margin-left: 10px;
                    text-align: right;
                    >p{
                        margin: 5px 0;
                    }
                    >p:first-child{
                        color: #333;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    >p{
                        color: #666;
                        font-size: 14px;
                    }
                }
                .single-good-wrapper{
                    width: 100%;
                    display: flex;
                    .left{
                        width:70px;
                        height:70px;
                        margin-right: 20px;
                        @extend .flexCenter;
                        >img{
                            width: 60px;
                            height:60px;
                        }
                    }
                    .right{
                        flex: 1;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        >span:first-child{
                            width: 200px;
                            line-height: 20px;
                            font-size: 14px;
                            @extend .newline;
                            >span:first-child{
                                display: block;
                                margin-bottom: 10px;
                                @extend .overflowText;
                            }
                            >span:last-child{
                                display: block;
                                @extend .overflowText;
                            }
                        }
                        >span:last-child{
                            margin-left: 20px;
                            color: #333;
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }
                }
            }

            .bottom-row {
                text-align: right;
                height: 40px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                box-sizing: border-box;
                padding: 0 0 10px 10px;
                >span{
                    color: #666;
                    font-size: 14px;
                }
                .am-button-ghost {
                    color: #666;
                }

                .am-button-ghost::before {
                    border: 1px solid #c5c5c5;
                    border-radius: 30px;
                }
                .border-red::before {
                    border: 1px solid #c5c5c5;
                    border-radius: 30px;
                }
            }
            .time-list{
                height: 40px;
                box-sizing: border-box;
                padding: 0 0 0 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-top: 1px solid #f5f5f5;
                >span{
                    color: #666;
                    font-size: 14px;
                }
            }
        }
        .nodata-wrapper{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-direction: row;
            >img{
                // width:80%;
                margin-left: 10%;
            }
            >p{
                width:100%;
                font-size: 14px;
                color: #666;
                text-align: center;
            }
        }
    }
    .order-close{
        padding-right: 10px;
    }
}