.paymentDetail-wrapper {
    width: 100%;
    height: calc(100% - 45px);
    background-color: #EBF0F4;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;

    .top-content {
        .pure_top {
            width: 100%;
            height: 100px;
            position: relative;
            z-index: -1;
            overflow: hidden;
        }

        .pure_top::after {
            content: '';
            width: 140%;
            height: 100px;
            position: absolute;
            left: -20%;
            top: 0;
            z-index: -1;
            border-radius: 0 0 50% 50%;
            background: #1496f1;
        }

        .gradient_top {
            width: 100%;
            height: 100px;
            position: relative;
            z-index: -1;
            overflow: hidden;
        }

        .gradient_top::after {
            content: '';
            width: 100%;
            height: 100px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            border-radius: 0 0 80% 80%;
            background: linear-gradient(180deg, #417AFF, #417AFF);
        }

        .cutdown-time {
            width: 100%;
            text-align: center;
            // margin: 10px 0;
            font-size: 14px;
            color: #fff;
            position: absolute;
            top: 15px;
        }

        .order-info {
            width: 90%;
            height: 120px;
            border-radius: 10px;
            // border:1px solid red;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            margin: 0 auto;
            box-shadow: 0 0 5px 0 #C3C9CB;
            background-color: #fff;
            box-sizing: border-box;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            .order-number{
                font-size: 14px;
                color:#666;
            }
        }

        .pay-type-list {
            width: 100%;
            position: absolute;
            top: 180px;
            .am-accordion-header{
                font-size:14px;
                color: #333;
            }
            .am-list-content{
                display: flex;
                align-items: center;
            }
            .am-list-header{
                background-color: #F9FAF9;
                >div{
                    display: flex;
                    align-items: center;
                }
            }
            .icon_wrapper{
                width:20px;
                height:20px;
            }
            .checkBox_text{
                margin-left: 10px;
                font-size: 14px;
                color:#333;
            }
            .am-list {
                .am-list-body {
                    width: 100%;
                }
                // .am-list-item{
                //     .am-list-line{
                //         .am-list-content
                //     } 
                // } 
                .am-list-item.am-checkbox-item {
                    .am-list-thumb {
                        width:0;
                        margin-right: 0;
                        .am-checkbox-inner {
                            right: 20px !important;
                            left: auto;
                        }
                    }

                    .am-checkbox.am-checkbox-checked .am-checkbox-inner {
                        border-color: $color-green;
                        background: $color-green;
                    }
                }
            }

        }
    }

    .bottom-content {
        width: 100%;
        padding: 0 15px 30px 15px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;

        .text-row {
            font-size: 16px;
            color: #333;
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}