.feedBack-wrapper {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #666;
    background-color: $bg-color;
    .demoTitle:before,
    .demoTitle:after {
        border-bottom: none;
    }

    .am-list {
        width: 100%;
        background-color: #fff;
        
        .head-wrapper {
            background-color: #fff;
            >p {
                height: 30px;
                line-height: 30px;
                color: #333;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .radio-wrapper {
                height: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                box-sizing: border-box;
                margin: 0 10px;
                .am-list-item.am-list-item-active{
                    background-color: transparent;
                }
                .am-list-item{
                    min-width:33%;
                    padding-left: 0;
                    margin: 0 5px;
                    box-sizing: border-box;
                    .am-list-line{
                        padding-right: 0
                    }
                    .am-list-line::after{
                        height: 0;
                    }
                }
                .am-list-content{
                    font-size:14px;
                    color: #666;
                    border: 1px solid #F6F6F6;
                    padding: 5px 15px;
                    box-sizing: border-box;
                }
                .am-radio-inner{
                    right: 10px!important;
                }
                .am-radio-inner:after{
                    width:5px;
                    height: 12px;
                    border-color: $color-red!important;
                }
            }
        }
        .am-list-body::before,
        .am-list-body::after{
            height: 0;
        }
        .am-list-body {
            background-color: #fff;
            // background-color: $bg-color;

            .am-textarea-control textarea{
                font-size:14px;
                color:#999;
            }
            .am-textarea-has-count{
                background-color: $bg-color;
                border-radius: 5px;
                height:200px;
                margin: 0 10px;
            }
            .am-input-label{
                color:#333;
                font-size: 14px;
            }
            .am-image-picker{
                padding: 5px;
                background-color: #fff;
            }
            .button_wrapper {
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: $bg-color;
                .am-button {
                    width: 250px;
                    background-color: $color-black;
                    border-radius: 25px;
                    border: none;
                    color: $color-green;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
    }
}