.mine_wrapper {
    width: 100%;
    font-family: Monospace;
    padding-bottom: 80px;

    .set_area {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 16px;
        background-color: #00c35d;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        .small-point {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            right: 13px;
            background-color: #FF2A00;
        }
    }

    .logo_area {
        width: 100%;
        height: 70px;
        padding-bottom: 20px;
        background-color: #00c35d;
        display: flex;
        justify-content: space-between;

        &_img {
            max-width: 70px;
            height: 100%;
            margin: 0 10px;
            padding-left: 10px;
            @extend .flexCenter;
            >img {
                display: inline-block;
                width: 70px;
                height: 100%;
                border-radius: 50%;
            }
        }

        &_text {
            /* width:calc(100% - 120px); */
            flex: 1;
            padding-right: 20px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-size: 14px;
            font-weight: bold;

            >a {
                color: #fff;
            }
        }
    }

    .mine_order:visited {
        color: #333;
    }

    .mine_order {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 50px;
        padding: 0 10px;

        &_content {
            width: 100%;
            height: 100%;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #f4f6f7;

            >div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .nav_area {
        width: 100%;
        height: 90px;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &_content {
            width: 100%;
        }

        &_item {
            width: 25%;
            height: 100%;
            box-sizing: border-box;
            display: inline-block;

            .nav_icon_wrapper {
                font-weight: bold;
                position: relative;

                .am-badge {
                    position: absolute;
                    right: 12px;
                    top: -10px;
                    .am-badge-text{
                        background-color: #fff;
                        color: #ff5b05;
                        border:1px solid #ff5b05;
                    }
                }
            }

            >span {
                display: block;
                text-align: center;
            }

            >span:first-child {
                color: #333;
            }

            >span:last-child {
                color: #000;
                margin-top: 10px;
            }
        }
    }

    .myInfo_area {
        &_item {
            box-sizing: border-box;
            display: block;
            width: 100%;
            height: 50px;
            padding: 0 10px;

            &_content {
                width: 100%;
                height: 100%;
                font-size: 14px;
                color: #333;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #f4f6f7;

                >div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &_item:last-child {
            border-bottom: none;
        }
    }

    .icon_wrapper {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .version_area {
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #666666;
    }

    .arrow_icon {
        .icon {
            width: 15px;
            height: 15px;
            fill: #999;
        }
        .am-badge {
            margin:-8px 5px 0 0;
            .am-badge-text{
                background-color: #fff;
                color: #ff5b05;
                font-size: 16px;
            }
        }
    }

    .logo_icon>.icon {
        width: 15px;
        height: 15px;
        fill: #fff;
    }
}

/* background: url("../../images/mine/icon2.png") 100% 100% no-repeat; */