.result-example .spe {
    width: 60px;
    height: 60px;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
    margin-left: 15px;
  }
  .result-example {
    height: 100%;
    display: flex;
    align-items: center;
    .am-result::after{
      height:0!important;
    }
  }
  