.luckDraw {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f12416;
    
    .pond-head img {
        width: 100%;
        height: 215px;
    }

    .container-out {
        height: 283px;
        width: 340px;
        background-color: #F47915;
        margin: 16px auto 15px auto;
        border-radius: 8px;
        position: relative;
    }

    .circle {
        position: absolute;
        display: block;
        border-radius: 50%;
        height: 7px;
        width: 7px;
    }

    .content-out {
        position: absolute;
        height: 72px;
        width: 98px;
        background-color: #f5f0fc;
        border-radius: 8px;
        box-shadow: 0 8px 0 #FFCEC0;
    }

    .container-in {
        width: 320px;
        height: 263px;
        background-color: #f12416;
        border-radius: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .pond-name-img {
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        height: 46px;
        z-index: 1;
    }

    .pond-name {
        position: absolute;
        top: 75%;
        color: #c62015;
        width: 98px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 9pt;
        text-align: center;
    }

    .start-btn {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 8px;
        height: 79px;
        width: 98px;
        color: #f6251e;
        text-align: center;
        font-weight: bolder;
        line-height: 77px;
    }

    .center-style {
        position: absolute;
        left: 5px;
        height: 68px;
        width: 89px;
        top: 0
    }

    .prize {
        background: rgba(0, 0, 0, 0.25);
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        z-index: 100;
    }

    .prize-box {
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .prize-img {
        width: 100vw;
        max-height: 231px;
        max-width: 375px;
    }

    .prize-img2 {
        width: 100vw;
        max-height: 120px;
        max-width: 375px;
    }

    .prize-msg {
        margin-top: -7px;
        width: 78.5vw;
        max-width: 294.5px;
        text-align: center;
        background: #ffffff;
        padding-bottom: 6px;
        font-size: 13pt;
    }

    .prize_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .continue {
        width: 240px;
        height: 40px;
        margin: 28px auto;
        background: #ff5c5c;
        line-height: 40px;
        color: #ffffff;
        border-radius: 20px;
    }

    .men {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        left: 0;
        top: 0;
    }
}