.forgetpwd-wrapper {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #666;
    // background-color: $bg-color;
    @extend .flexCenter;
    // background: url(../../../assets/images/login/back.jpg);
    // background-size: 100% auto;
    // background-position: bottom center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .content-wrapper {
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        margin-top: 30px;
        width: 310px;

        .head-img {
            text-align: center;
            position: absolute;
            top: -30px;
            left: 0;
            right: 0;
            margin: 0 auto;

            >img {
                width: 80px;
            }
        }

        .sendCode {
            display: inline-block;
            height: 43px;
            line-height: 33px;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 6px;
            font-size: 14px;
            z-index: 9999;
            color: #108ee9;
        }

        .am-list-header {
            font-size: 18px;
            color: #666;
            padding: 0.4rem 0;
            flex: none;

            .am-list-line {
                border-bottom: none !important;
            }
        }

        .am-list-item {
            padding: 0;
            position: relative;
            border: 1px solid #dbd8d8;
            padding: 0 10px;
            border-radius: 10px;
            margin: 10px 0;

            .am-list-line {
                display: flex;
                padding-right: 0;
                // border-bottom: 1px solid #f5f5f5 !important;

                .am-list-content {
                    box-sizing: border-box;
                    width: 40px;
                    height: 100%;
                    padding-left: 5px;
                    font-size: 15px;
                    color: #333;
                    flex: none !important;
                    display: flex;
                    align-items: center;
                    line-height: 0 !important;
                    border-right: 1px solid #dbd8d8;
                }

                .am-list-extra {
                    flex: 1;
                    padding: 0;

                    .am-list-item {
                        border: none;
                        margin: 0;
                    }

                    .am-list-line {
                        border-bottom: none !important;
                    }
                }
            }

            .am-input-clear {
                position: absolute;
                right: 0;
                top: 10px;
                z-index: 10;
            }

            .am-input-control {
                height: 100%;

                input {
                    width: 100%;
                    height: 100%;
                    padding-left: 10px;
                    color: #666 !important;
                    font-size: 15px;
                }


                .fake-input-container {
                    height: 100%;
                    line-height: 45px;

                    .fake-input {
                        padding-left: 10px;
                        color: #666;
                        font-size: 15px;
                    }

                    .fake-input-placeholder {
                        padding-left: 10px;
                    }

                    .fake-input.focus {
                        line-height: 45px;
                    }
                }
            }

            .fake-input-placeholder {
                font-size: 14px;
            }
        }
        .password-wrpper{
            position: relative;
            .iconWrapper{
                display: inline-block;
                width:40px;
                height:100%;
                position: absolute;
                right: 0;
                top:0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .am-list-item.am-input-item{
                padding: 0!important;
            }
        }
        
        .radio-wrapper {
            border: none;
            padding: 0;
            margin: -10px 0 0 0;
            .agreement-text{
                color: #108ee9;
            }
            .my-radio{
                font-size: 14px;
                @extend .flexCenter;
                justify-content: flex-start;
                align-items: flex-end;
            }
            .am-radio{
                padding: 2px;
                margin-right: 10px;
                border: 1px solid #c5c5c5;
                .am-radio-inner:after{
                    border-color: #fff;
                }
            }
            .am-radio-checked{
                background-color: #108ee9;
                border:none;
            }
            .am-list-line {
                border-bottom: none !important;
                padding: 0;
            }
        }

        .am-list-item:last-child {
            border: none;
            padding: 0;
            margin-top: 30px;

            .am-list-line {
                border-bottom: none !important;
                padding: 0;
            }
        }

        .am-list-body::after {
            height: 0;
        }

        .am-list-body {
            .am-list-line::after {
                height: 0 !important;
            }
        }

        .am-button {
            font-size: 16px;
            // margin-top: 30px;
            // background-color: $color-green;
            border: none;
        }
    }
}