.login-wrapper {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-image: url('../../../assets/images/login/loginbg17@2x.png');
    background-size: 100% 100%;
    background-position: top left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    ::-webkit-input-placeholder {
        color: #FECFC7 !important;
        font-size: 14px !important;
    }

    /* 使用webkit内核的浏览器 */
    :-moz-placeholder {
        color: #FECFC7 !important;
        font-size: 14px !important;
    }

    /* Firefox版本4-18 */
    ::-moz-placeholder {
        color: #FECFC7 !important;
        font-size: 14px !important;
    }

    /* Firefox版本19+ */
    :-ms-input-placeholder {
        color: #FECFC7 !important;
        font-size: 14px !important;
    }

    /* IE浏览器 */
    .login-logo-wrapper {
        text-align: center;

        .login-big-logo {
            width: 234px;
            margin-top: 20%;
        }

        .login-small-logo {
            width: 211px;
            margin: 10px 0 60px 0;
        }

        .login-title {
            box-sizing: border-box;
            width: 75%;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            text-align: left;
            color: #ffffff;
            font-size: 24px;
            margin: 30% auto 10px;
            position: relative;
        }

        .login-title:before {
            content: "";
            width: 3px;
            height: 20px;
            background-color: #ffffff;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -10px;
        }
    }

    .login-form-wrapper {
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        padding: 10px 30px 40px;

        .login-form-label {
            height: 21px;
            line-height: 21px;
            font-size: 16px;
        }

        .login-form-label:not(first-child) {
            margin-top: 20px;
        }

        //重置ant-mobile样式
        .am-button {
            background: url('../../../assets/images/login/login-btn-bg@2x.png') no-repeat;
            background-size: 100% 100%;
            width: 200px;
            height: 45px;
            line-height: 45px;
            color: #ffffff;
            font-size: 15px;
            margin: 50px auto 0;
            display: inline-block;
            text-align: center;
            border: none;
            display: flex;
            justify-content: center;
        }

        .am-button:before {
            border: none !important;
        }

        .am-list-body {
            background-color: transparent;
        }

        .am-list-body:before {
            background-color: transparent !important;
        }

        .am-list-body:after {
            background-color: #FECFC7 !important;
        }

        .am-list-body div:not(:last-child) .am-list-line::after {
            background-color: #FECFC7 !important;
        }

        .am-list-item {
            padding-left: 0;
            background-color: transparent;

            .am-input-item {
                padding-left: 0;
            }
        }

        .am-list-item .am-input-control {
            height: 100%;
            position: relative;

            input {
                height: 100%;
                font-size: 16px;
                color: #ffffff;
                position: absolute;
                bottom: 0;
                left: 0;
                caret-color: #4C89D6 !important;
            }

            .fake-input-container {
                height: 100%;

                .fake-input {
                    height: 100%;
                    font-size: 16px;
                    color: #ffffff;
                    line-height: 45px;
                }

                .fake-input.focus:after {
                    top: 2%;
                }
            }
        }

        .fake-input-container-left .fake-input-placeholder {
            font-size: 14px;
            color: #FECFC7 !important;
            line-height: 45px;
        }

        .am-list-line::after {
            background-color: #ffffff !important;
        }

        .demoTitle:before,
        .demoTitle:after {
            border-bottom: none;
        }

        .sendCode {
            display: inline-block;
            height: 43px;
            line-height: 43px;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 15px;
            z-index: 9999;
        }

        .toggle-wrapper {
            font-size: 15px;
            margin: 15px 0;

            >div {
                display: flex;
                justify-content: space-between;
            }
        }

        .login-button-row {
            text-align: center;
        }
        .eye-iamge{
            position: absolute;
            right: 0;
            bottom: 8px;
            display: inline-block;
        }
    }
}