.setNikeName_wrapper{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    .am-list{
        .am-list-header{
            font-size:15px;
            color: #666; 
        }
        .am-list-item {
            .am-input-control {
                input{
                   font-size:16px;
                   color: #333; 
                }
            }
        }
    }
    .button_wrapper {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        .am-button {
            width: 250px;
            background-color: $color-black;
            border-radius: 25px;
            border: none;
            color: $color-green;
            font-weight: bold;
            font-size: 15px;
        }
    }
}