.userCenter-wrapper {
    width: 100%;
    height: 100%;
    .contianer {
        input[type="file"] {
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: red;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            z-index: 22;
            // opacity: 0;
        }
    }
    .am-list-item {
        .am-list-line {
            .am-list-extra {
                flex-basis: 60%;
            }

            .am-list-content {
                font-size: 16px;
                color: #333;
            }
        }
    }

    .userCenter_content {
        width: 100%;
        height: 100%;
    }

    .form_wrapper {
        width: 100%;
        position: relative;

        .avatar-wrapper {
            height: 130px;
            margin: 10px 0;
            position: relative;

            // .contianer{
            //     position: absolute;
            //     top: 0;
            //     width: 70px;
            //     height: 70px;
            //     border-radius: 50%;
            //     overflow: hidden;
            //     input[type="file"]{
            //         color:red;
            //         width: 70px;
            //         height: 70px;
            //         border-radius: 50%;
            //     }
            // }
            .avatar {
                height: 100px;
                @extend .flexCenter;
                >img{
                    width: 70px;
                    height: 70px; 
                    border-radius: 50%;
                }
            }

            .descibe {
                font-size: 13px;
                color: #666;
                text-align: center;
            }

            .icon-wrapper {
                display: inline-block;
                width: 70px;
                height: 70px;
                line-height: 95px;
                position: absolute;
                top: 15px;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.3);
                @extend .flexCenter;
                border-radius: 50%;
                text-align: center;
            }
        }

        .am-list {
            .am-list-body {
                .am-list-item {
                    .am-list-line {
                        .am-list-content {
                            font-size: 16px;
                            color: #333;
                        }

                        .am-list-extra {
                            font-size: 15px;
                            color: #666;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }

    .button_wrapper {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;

        .am-button {
            width: 250px;
            background-color: $color-black;
            border-radius: 25px;
            border: none;
            color: $color-green;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .am-list-item .headImg {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 20px !important;
    }

}