.contianer {
	.cropper-view-box, .cropper-face{
		border-radius: 50%;
	}
	.cropper-view-box{
		outline:none;
	}
	.cropper-point{
		background-color: transparent;
	}
	.cropper-line{
		background-color: transparent;
	}
	.cropModal{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #000000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 3;
		.crop{
		
		}
		.btn{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 285px;
			height: 60px;
			.cropperBtn{
				width: 60px;
				height: 60px;
				line-height: 30px;
				color: #FFFFFF;
				font-size: 14px;
				text-align: center;
				img{
					width: 23px;
					height: 22px;
					vertical-align: top;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		.cropTips{
			position: absolute;
			top: 22px;
			font-size: 11px;
			line-height: 15px;
			color: #B8B8B8;
			padding: 0 26px;
			letter-spacing: 0.5px;
		}
	}
}