.facePay-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	@extend .flexCenter;
	align-items: flex-start;

	.am-modal-title {
		font-size: 16px!important;
	}
	// .am-modal-body {
	// 	.am-modal-alert-content {
	// 		font-size: 14px!important;
	// 	}
	// }

	.unOpen-list {
		width: 100%;
		@extend .flexCenter;
		flex-wrap: wrap;
		flex-direction: column;

		.icon-wrapper {
			width: 100%;
			@extend .flexCenter;
			padding: 30px 0;
		}

		.title {
			width: 100%;
			text-align: center;
			font-size: 16px;
			color: #000;
			margin: 10px;
		}

		.describe {
			width: 100%;
			text-align: center;
			font-size: 14px;
			color: #666;
		}

		.button_wrapper {
			margin-top: 30px;
			width: 80%;

			span {
				color: #fff;
				font-size: 14px;
			}
		}
	}

	.opened-list {
		width: 100%;
		@extend .flexCenter;
		flex-wrap: wrap;
		flex-direction: column;

		.icon-wrapper {
			width: 100%;
			@extend .flexCenter;
			padding: 30px 0;
		}

		.describe {
			width: 100%;
			text-align: center;
			font-size: 14px;
			color: #666;
		}

		.button_wrapper {
			margin-top: 30px;
			width: 80%;

			span {
				color: #FE313B;
				font-size: 14px;
			}
		}
	}
}