.demo-content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 0 5px 0;
    box-sizing: border-box;
    background-color: $bg-color;
    .list-item {
        width: 152px;
        height: 260px;
        background-color: #fff;
        border-radius: 5px;
        margin: 5px;
        overflow: hidden;
        padding: 0 10px;
        @extend .boxShadow;
        .top-row {
            >img {
                width: 100%;
                height: 150px;
            }
        }

        .middle-row {
            padding: 0 5px;
            height: 40px;
            margin-top: 10px;
            .title {
                font-size: 14px;
                color: #333;
                @include ellipsis;
            }

            .describe {
                font-size: 11px;
                color: #666;
                margin: 10px 0 0 0;
                @include ellipsis;
            }
        }

        .bottom-row {
            height: 40px;
            padding: 0 5px;
            position: relative;
            display: flex;
            align-items: flex-end;

            >span {
                color: red;
                font-size: 14px;
            }

            .iconCartWrapper {
                position: absolute;
                width: 30px;
                height: 30px;
                bottom: 0px;
                right: 0;
            }
        }
    }

    .list-item:first-child {
        margin-top: 10px;
    }

    .list-item:nth-of-type(2) {
        margin-top: 10px;
    }

    .nodata-wrapper {
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: #666;
        background-color: $bg-color;
        @extend .flexCenter;
    }
}