.wrapper.columnScroll-wrapper{
    width: 80px;
    height: 100%;
    font-size: 13px;
    overflow: hidden;
    background-color: #F4F4F4;
    .content{
        .item{
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #555;
            border-bottom: 1px solid #E8E9E8;
        }
        .tab-active{
            background-color: #fff;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            position: relative;
        }
        .tab-active:after{
            content:"";
            width:3px;
            height:80%;
            position: absolute;
            left: 0;
            top:10%;
            background-color: #00c35d;
        }
    }
}