.category_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  .main_content{
    height: calc(100% - 125px);
    display: flex;
    justify-content: flex-start;
    .right_content{
      flex: 1;
      overflow-y: scroll;
    }
  }
  .am-tabs-vertical .am-tabs-tab-bar-wrap {
    // height: 500px;
    height: calc(100% - 35px);
    // border: 1px solid red;
    // overflow-y: scroll;
  }

  .customLeftTabs {
    .am-tabs-default-bar-tab-active {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .head_search {
    height:50px;
    border-bottom: 1px solid #F2F4F7;
    .am-search {
      padding: 0;
      background-color: #fff;
      .am-search-input {
        width: 90%;
        height: 90%;
        border-radius: 30px;
        margin: 5px 5px 0 10px;
        background-color: #EFEFF5;
        .am-search-clear{
          top: 6px;
          right:10px;
        }
        .am-search-synthetic-ph {
          height: 100%;
          line-height: 25px;
        }
  
        input[type="search"] {
          height: 60%;
          margin-top: 8px;
        }
      }
    }
    .am-search-start{
      .am-search-input {
        flex:none;
        width: 85%;
      }
    }
    .am-search-cancel{
      line-height: 50px;
      font-size: 14px;
      padding-left: 5px;
    }
  }

  .good_list_wrapper {
    min-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    .empty_wrapper {
      width: 100%;
      flex: 1;
      margin-top: 60%;
      @extend .flexCenter;
      .icon_wrapper {
          display: block;
          margin: 0 auto;
          text-align: center;
          >p{
            font-size: 12px;
            color:#666;
          }
      }
    }
    .list_item {
      width: calc(100% - 20px);
      height: 100px;
      padding: 5px;
      // margin: 0 10px;
      border-bottom: 1px solid #F2F4F7;
      box-sizing: border-box;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      &_left {
        display: flex;
        align-items: center;
        img {
          width: 70px;
        }
      }

      &_right {
        flex: 1;
        height: 90%;
        margin-left: 10px;
        position: relative;
        .right_top{
          height: calc(100% - 25px);
          .title {
            font-size: 14px;
            color: #333;
            line-height: 20px;
          }
  
          .describe {
            width: 150px;
            font-size: 12px;
            color: #666;
            margin: 5px 0;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
        .right_bottom{
          height:25px;
          display: flex;
          align-items: center;
          // position: relative;
          margin-top: 2%;
          .amount {
            font-size: 14px;
            color: red;
          }
          .iconCartWrapper {
            position: absolute;
            width: 50px;
            height:50px;
            bottom: 0px;
            right: 0;
          }
        }
      }
    }
  }
}