#facePay-wrapper{
    width:100%;
    height:100%;
    position: relative;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5)
}
.face-capture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.face-capture video, .face-capture canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.face-capture canvas {
    z-index: 2;
}

.face-capture .img-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.face-capture .rect {
    border: 2px solid #0aeb08;
    position: fixed;
    z-index: 3;
}

.face-capture .control-container {
    margin-top: 10rem;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.face-capture .title {
    text-align: center;
    color: white;
    margin: 1.6rem auto;
    font-size: 18px;
}

.face-capture .close {
    width: 0.8rem;
    height: 0.8rem;
}