.couponRecords-wrapper {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #666;

    .am-list {
        height: 100%;

        .am-list-body:after {
            height: 0;
        }

        .am-list-body {
            height: 100%;
            display: flex;
            align-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: $bg-color;

            .coupon-item:first-child {
                margin-top: 10px;
            }

            .coupon-item {
                width: calc(100% - 40px);
                box-sizing: border-box;
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin: 5px 5px;
                padding: 0 10px 0 10px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: #ddd 0px 0px 10px;
                position: relative;
                >img{
                    width: 50px;
                    position: absolute;
                    top:0;
                    right:0;
                }
                &-left {
                    width: 40%;
                    height: 70px;

                    // border: 1px solid red;
                    p {
                        color: #666;
                        text-align: center;
                        margin: 6px 0;
                    }

                    .right-amount {
                        font-size: 20px;
                        color: red;
                        margin-top: 15px;
                    }

                    >p:not(:first-child) {
                        font-size: 13px;
                    }
                }

                &-right {
                    flex: 60%;
                    height: 50px;

                    // border: 1px solid black;
                    p {
                        color: #666;
                        text-align: right;
                        padding-right: 40px;
                    }

                    .right-title {
                        font-size: 15px;
                        margin: 15px 20px 10px 0;
                    }

                    >p:last-child {
                        font-size: 13px;
                    }
                }
                &-bottom{
                    width: 100%;
                    height:40px;
                    font-size: 14px;
                    color:#666;
                    padding: 0 15px;
                    border-top: 1px dashed #ddd;
                    >p{
                        height:22px;
                        width: 100%;
                        line-height: 22px;
                    }
                    >p:first-child{
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .noCoupon {
        text-align: center;
        font-size: 14px;
        color: #666;

        img {
            width: 50%;
        }
    }
}