.myCoupon-wrapper {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #666;
    background-color: $bg-color;
    .am-list {

        .am-list-body:after {
            height: 0;
        }

        .am-list-body {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: $bg-color;
            padding-bottom: 50px;

            .coupon-item:first-child {
                margin-top: 10px;
            }

            .coupon-item {
                width: calc(100% - 40px);
                box-sizing: border-box;
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin: 5px 5px;
                padding: 0 10px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: #ddd 0px 0px 10px;

                &-left {
                    width: 40%;
                    height: 70px;

                    // border: 1px solid red;
                    p {
                        color: #666;
                        text-align: center;
                        margin: 6px 0;
                    }

                    .right-amount {
                        font-size: 16px;
                        color: red;
                        margin-top: 15px;
                    }

                    >p:not(:first-child) {
                        font-size: 13px;
                    }
                }

                &-right {
                    flex: 1;
                    height: 50px;

                    p {
                        color: #666;
                        text-align: right;
                    }

                    .right-title {
                        font-size: 14px;
                        margin: 15px 0 10px 0;
                    }

                    >p:last-child {
                        font-size: 13px;
                    }
                }
                &-bottom{
                    width: 100%;
                    height:40px;
                    font-size: 13px;
                    color:#666;
                    padding: 0 15px;
                    border-top: 1px dashed #ddd;
                    >p{
                        height:22px;
                        width: 100%;
                        line-height: 22px;
                    }
                    >p:first-child{
                        margin-top: 8px;
                    }
                }
            }
        }
    }


    .bottom-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        background-color: #fff;

        .am-button {
            width: 50%;
            font-size: 14px;
            color: #333;
            font-weight: bold;
        }

        .am-button:before {
            border: none;
            border-radius: 0;
        }

        .am-button:first-child:before {
            border-right: 1PX solid #ddd;
        }
    }
}