.basicLayOut-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    @extend .forbiddenSelect;
    .basicLayOut-content {
        width: 100%;
        height: calc(100% - 75px);
    }
}