.defaultLayOut-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    @extend .forbiddenSelect;
    .defaultLayOut-content {
        width: 100%;
        height: calc(100% - 43px);
        padding-top: 43px;
    }
}