.header-navBar-Wrapper{
    width: 100%;
    position: fixed;
    top:0;
    z-index: 101;
    .am-navbar-light{
        // background: -webkit-gradient(linear, right top, left top, from(#FC4950), to(#FA6750));
        // background: linear-gradient(-90deg, #FC4950, #FA6750);
        background:$color-black;
    }
    .am-navbar-light{
        color: #ffffff;
        .am-navbar-title{
            color: #ffffff;
            font-size: 16px;
        }
    }
    .am-navbar-left-icon{
        cursor: pointer;
    }

}