.tabBar-Wrapper {
  width: 100%;
  height: 75px;
  overflow: hidden;
  position: fixed !important;
  bottom: 0 !important;
  z-index: 200 !important;
  background: url(~@/assets/images/common/tabbar-bg.png);
  background-size: 100% auto;
  background-position: bottom center;
  background-color: #ffffff;

  // >img {
  //   height: 75px;
  // }
  // background: rgba(0, 0, 0, 0) none repeat scroll !important;
  // /* rgba(0, 0, 0, 0.2) 前三个确定颜色，最后0.2确定透明度 */
  // /*实现FireFox背景透明，文字不透明*/
  // background: #ffffff;
  // filter: Alpha(opacity=20);
  // /*实现IE背景透明,文字不透明*/
  // width: 100%;
  // color: #000000;

  //background:rgba(0,0,0,0);
  
  .tabBar-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .tabBar-content {
    height: 100%;
    position: relative;
    z-index: 3;

    ul {
      box-sizing: border-box;
      padding-bottom: 10px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;

      li {
        .tabBar-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: bold;

          .tabbar-img {
            // width: 18px;
            text-align: center;
          }

          img {
            display: inline-block;
            width: 46px;
          }

          span {
            width: 50px;
            display: block;
            color: #666666;
            padding-top: 3px;
            text-align: center;
          }

          .active {
            // color: #FD5D45;
            color: #00c35d;
          }
        }

        .tabBar-item:before {
          content: "";
          display: block;
          clear: both;
        }
      }

      li:nth-of-type(3) {
        .tabBar-item {
          span {
            padding-top: 0 !important;
          }
        }
      }
    }
  }
}
.scaleDrawImage{
  transform:scale(1.3);
  transition: transform 0.5s ease;
}
.narrowDrawImage{
  transform:scale(1);
  transition: transform 0.5s ease;
}

@keyframes scaleDraw {
	/*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
            0% {
	transform:scale(1);
	/*开始为原始大小*/
}
25% {
	transform:scale(1.1);
	/*放大1.1倍*/
}
50% {
	transform:scale(1.3);
}
75% {
	transform:scale(1.5);
}
}.animate {
	-webkit-animation-name:scaleDraw;
	/*关键帧名称*/
            -webkit-animation-timing-function:ease-in-out;
	/*动画的速度曲线*/
            -webkit-animation-iteration-count:infinite;
	/*动画播放的次数*/
            -webkit-animation-duration:3s;
	/*动画所花费的时间*/
}