.home-wrapper {
    height:calc(100% - 75px);
    overflow: "auto";
    .banner-wrapper {
        .am-wingblank.am-wingblank-lg {
            margin: 0;
            height:236px;
        }
        .am-carousel{
            height:236px!important;
            overflow:hidden;
        }
    }

    .nav-wrapper {
        width: 100%;
        height: 160px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 10px 0;

        .list-item {
            width: 55px;
            height: 75px;
            margin: 5px 10px 0;
            text-align: center;

            >img {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            p {
                margin: 5px 0;
                font-size: 12px;
                color: #333;
            }
        }
    }

    .open-member {
        margin: 15px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background-color: $color-green;
        border-radius: 5px;
        padding: 0 10px;
        color: #fff;
        font-size: 13px;

        .left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .limit-time-wrapper {
        padding: 0 10px;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .left {
                height: 100%;
                line-height: 40px;
                display: flex;
                justify-content: flex-start;

                >span:first-child {
                    display: inline-block;
                    font-size: 18px;
                    position: relative;
                    padding-left: 8px;
                    margin-right: 10px;
                }

                >span:first-child:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 25%;
                    height: 50%;
                    width: 3px;
                    background-color: $color-green;
                }

                .cutDown-time {
                    height: 100%;

                    >span {
                        @extend .flexCenter;
                        display: inline-block;
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        background-color: #000;
                        margin: 0 5px;
                        color: #fff;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }

            .right {
                font-size: 14px;
                color: $color-green;
            }
        }
        .swiper-wrapper::-webkit-scrollbar {
            display: none;
        }
        .swiper-wrapper {
            width: 100%;
            height: 220px;
            overflow-x: scroll;
            overflow-y: hidden;

            .content-wrapper {
                height: 100%;
                width: fit-content;
                min-width:100%;
                display: flex;
                justify-content: space-between;
                background-color: $bg-color;
                .list-item {
                    width: 147px;
                    height: 220px;
                    font-size: 14px;
                    padding: 0 10px;
                    color: #555;
                    text-align: center;
                    flex-shrink: 0;
                    white-space: nowrap;
                    background-color: #fff;
                    .top-row {
                        text-align: center;

                        >img {
                            width: 120px;
                            height: 120px;
                        }
                    }

                    .middle-row {
                        padding: 0 5px;
                        text-align: center;
                        height:50px;
                        .title {
                            height:25px;
                            line-height: 25px;
                            font-size: 14px;
                            color: #333;
                            @include ellipsis;
                        }

                        .describe {
                            height:25px;
                            line-height: 25px;
                            font-size: 11px;
                            color: #666;
                            @include ellipsis;
                        }
                    }

                    .bottom-row {
                        height: 30px;
                        padding: 0 5px;
                        position: relative;
                        display: flex;
                        align-items: flex-end;
                        .text-wrapper{
                            display: flex;
                            align-items: center;
                            >span {
                                display: inline-block;
                                height: 20px;
                                line-height: 20px;
                                color: red;
                                font-size: 14px;
                            }
                        }

                        .iconCartWrapper {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            bottom: 0px;
                            right: 0;
                        }
                    }
                }

                .nodata-wrapper {
                    width: 100%;
                    height: 100%;
                    font-size: 13px;
                    color: #666;
                    @extend .flexCenter;
                }
            }
        }
    }
    .features-wrapper{
        padding: 0 10px;
        margin-bottom: 20px;
        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .left {
                height: 100%;
                line-height: 40px;
                display: flex;
                justify-content: flex-start;

                >span:first-child {
                    display: inline-block;
                    font-size: 18px;
                    position: relative;
                    padding-left: 8px;
                    margin-right: 10px;
                }

                >span:first-child:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 25%;
                    height: 50%;
                    width: 3px;
                    background-color: $color-green;
                }
            }
        }

        .content-wrapper {
            width: 100%;
            height:210px;
            border:1px solid $color-white;
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            .list-item{
                box-sizing:border-box;
                width: 50%;
                height: 50%;
                padding: 10px;
                .title{
                    color: $color-red;
                    margin: 5px 0;
                    font-size: 12px;
                }
                .describe{
                    color: $color-gray;
                    font-size: 10px;
                }
                .image-wrapper{
                    flex: 1;
                    @extend .flexCenter;
                    justify-content: flex-start;
                    >img{
                        width: 30%;
                        margin: 5%;
                    }
                }
            }
            .list-item:first-child{
                border-right:1px solid $color-white;
                border-bottom:1px solid $color-white;
            }
            .list-item:nth-of-type(2){
                border-bottom:1px solid $color-white;
            }
            .list-item:nth-of-type(3){
                border-right:1px solid $color-white;
                .title{
                    color: $color-green;
                }
            }
            .list-item:last-child{
                padding: 0;
                display: flex;
                justify-content: flex-start;
                align-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                .item{
                    width: 50%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 10px;
                    border-right:1px solid $color-white;
                    .title{
                        color: #666;
                        font-size: 12px;
                    }
                    >img{
                        width: 70%;
                        margin-top: 10%;
                        margin-left: 10%;
                    }
                }
            }
        }
    }
    .goods-list-wrapper {
        background-color: #f5f5f5;

        .am-tabs-tab-bar-wrap {
            background-color: #fff;
        }

        .content-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            padding: 0 5px 80px;
            box-sizing: border-box;

            .list-item {
                width: 172px;
                height: 260px;
                background-color: #fff;
                border-radius: 5px;
                margin: 5px;
                overflow: hidden;
                padding: 0 10px;
                box-shadow: none;
                .top-row {
                    >img {
                        width: 100%;
                        height: 150px;
                    }
                }

                .middle-row {
                    padding: 0 5px;
                    height: 40px;
                    margin-top: 10px;
                    .title {
                        font-size: 14px;
                        color: #333;
                        @include ellipsis;
                    }

                    .describe {
                        font-size: 11px;
                        color: #666;
                        margin: 10px 0 0 0;
                        @include ellipsis;
                    }
                }

                .bottom-row {
                    height: 40px;
                    padding: 0 5px;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    .text-wrapper{
                        >span {
                            color: red;
                            font-size: 14px;
                        }
                    }

                    .iconCartWrapper {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        bottom: 0px;
                        right: 0;
                    }
                }
            }

            .list-item:first-child {
                margin-top: 10px;
            }

            .list-item:nth-of-type(2) {
                margin-top: 10px;
            }

            .nodata-wrapper {
                width: 100%;
                height: 100px;
                font-size: 13px;
                color: #666;
                @extend .flexCenter;
            }
        }
    }
}