.equipmentManage-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	align-items: flex-start;
	background-color: $bg-color;

	.title {
		width: 100%;
		padding: 0 15px;
		font-size: 14px;
		margin: 10px 0;
	}

	.container {
		background-color: #fff;

		.list-item {
			@extend .container;
			height: 90px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-bottom: 1px solid $border-color;

			.left {
				flex: 1;
				height: calc(100% - 2px);
				@extend .flexCenter;
				justify-content: flex-start;
				padding-left: 15px;
				box-sizing: border-box;
				flex-wrap: wrap;
				flex-direction: column;

				.title {
					width: 100%;
					font-size: 16px;
					color: #000;
					margin-top: 25px;
				}

				.subtitle {
					width: 100%;
					font-size: 12px;
					color: #999;
					margin-top: 10px;
				}
			}

			.right {
				width: 100px;
				height: 100%;
				@extend .flexCenter;
				justify-content: flex-end;
				overflow: hidden;
				padding: 0 15px 0 10px;
				box-sizing: border-box;

				.current-text {
					font-size: 12px;
					color: #2F82FF;
					margin-right: 5px;
				}

				.icon-wrapper {
					@extend .flexCenter;
				}
			}
		}
	}
}