.faceSet-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	@extend .flexCenter;
	align-items: flex-start;

	.am-list-item {
		.am-list-line {
			.am-list-content {
				font-size: 15px;
				color: #333;
			}
		}
	}

	.faceSet-list {
		width: 100%;
		@extend .flexCenter;
		flex-wrap: wrap;
		flex-direction: column;

		.icon-wrapper {
			width: 100%;
			@extend .flexCenter;
			padding: 30px 0;
		}

		.describe {
			width: 100%;
			text-align: center;
			font-size: 14px;
			color: #000;

			>p {
				margin: 5px 0;
			}
		}

		.option-list {
			width: 100%;
			margin-top: 10px;
		}

		.prompt-option {
			margin-top: 30px;
			@extend .flexCenter;

			.am-button::before {
				border: none;
			}

			>span {
				color: #000;
				font-size: 14px;
			}

			.am-button {
				span {
					color: #0398FF;
					font-size: 14px;
				}
			}

		}
	}
}