
.faceScan-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	@extend .flexCenter;
	align-items: flex-start;
	background-color: $bg-color;

	.am-list-item {
		.am-list-line {
			.am-list-content {
				font-size: 15px;
				color: #333;
			}
			.am-list-extra{
				font-size: 15px;
			}
		}
	}

	.faceScan-list {
		width: 100%;
		@extend .flexCenter;
		flex-wrap: wrap;
		flex-direction: column;

		.icon-wrapper {
			width: 100%;
			@extend .flexCenter;
			padding: 30px 0;
		}

		.describe {
			width: 100%;
			text-align: center;
			font-size: 15px;
			color: #2F82FF;

			>p {
				margin: 5px 0;
			}
		}
		
		.option-list {
			width: 100%;
			margin-top: 30px;
		}

		.prompt-option {
			margin-top: 30px;
			@extend .flexCenter;

			.am-button::before {
				border: none;
			}

			>span {
				color: #999;
				font-size: 13px;
			}
		}
	}
}