.gesturesPassword-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	align-items: flex-start;
	background-color: $bg-color;

	.gesturesPassword-list {
		width: 100%;
		.am-list-item {
			.am-list-line {
				.am-list-content {
					font-size: 15px;
					color: #333;
				}
				.am-list-arrow{
					width: 12px;
					height: 12px;
				}
			}
		}
	}
	.prompt-option {
		margin-top: 30px;
		@extend .flexCenter;

		.am-button::before {
			border: none;
		}

		>span {
			color: #999;
			font-size: 13px;
		}
	}
}