.accountSecurity-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	@extend .flexCenter;
	align-items: flex-start;
	background-color: $bg-color;

	.paySetting-list {
		width: 100%;
		.am-list-item {
			.am-list-line {
				.am-list-content {
					font-size: 15px;
					color: #333;
				}
				.am-list-arrow{
					width: 12px;
					height: 12px;
				}
			}
		}
	}
}