.setGestures-wrapper {
	@extend .container;
	font-size: 16px;
	color: #666;
	padding-top: 10px;
	@extend .flexCenter;
	align-items: flex-start;
	background-color: $bg-color;

	.createGesture {
		height: 100%;
	}

	.picture {
		padding-top: 0.533rem;
		text-align: center;

		img {
			height: 3rem;
		}
	}

	.words {
		text-align: center;
		color: #498bcb;

		p:nth-child(1) {
			margin: 0.267rem 0;
			font-size: 0.723rem;
		}

		p:nth-child(2) {
			font-size: 0.373rem;
		}
	}

	.bottom {
		z-index: 2000;
		margin-top: .3rem
			/* 30/37.5 */
		;
		width: 100%;

		p {
			padding: 0 0.5rem;
			font-size: inherit;
		}

		div {
			margin: 0.353rem 0 0.337rem;
		}
	}
}