@keyframes load {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes ellipse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.3);
    }
    100% {
      transform: scale(1);
    }
  }
  .loading_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index:9;
  }
  .load_img {
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/common/loading/icon_loading.png) no-repeat 0 0;
    background-size: 50px auto;
    transform: translateY(0px);
    animation: load 0.6s infinite ease-in-out;
    position: relative;
    z-index: 11;
  }
  .load_ellipse {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 42px;
    left: 0px;
    z-index: 10;
    animation: ellipse 0.6s infinite ease-in-out;
  }