.wrapper.horizontalScroll-wrapper {
    width: 100%;
    height: 50px;
    font-size: 13px;
    overflow: hidden;
    background-color: #fff;
    margin: 20px 0;

    .content {
        width: fit-content;
        height: 50px;
        line-height: 50px;
        display: flex;
        overflow-x: auto;
        justify-content: space-between;

        .item {
            font-size: 14px;
            padding: 0 10px;
            color: #555;
            border-top: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
            text-align: center;
            flex-shrink: 0;
            white-space: nowrap;
        }

        .tab-active {
            background-color: #F4F4F4;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            position: relative;
        }

        .tab-active:after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00c35d;
        }
    }
}