.greenCard_wrapper {
    width: 100%;
    // height: 100%;
    overflow-y: scroll;
    .vip_bg {
        width: 100%;

        img {
            display: inline-block;
            width: 100%;
        }
    }

    .vipPrivilege {
        width: 100%;
        margin: 20px 0;

        .title {
            box-sizing: border-box;
            color: #000;
            font-size: 18px;
            font-weight: bold;
            padding: 0 20px;
        }

        .van-grid {
            width: 100%;
            height: 80px;
            display: flex;

            &-item {
                width: 25%;
                height: 100%;
                box-sizing: border-box;
                padding: 16px 8px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                flex-direction: row;

                .van-grid-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                >span {
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                .bottom-title {
                    margin-top: 5px;
                    color: #333;
                    font-size: 12px;
                }
            }
        }

        .am-btn-wrapper {
            display: flex;
            justify-content: center;

            .am-button {
                width: 240px;
                background: #2F3649;
                color: #00BE49;
                border-radius: 30px;
                border: none;
                font-size: 14px;
                font-weight: bold;
            }
        }

    }

    .coupons-title {
        display: flex;
        align-items: center;

        .number {
            background-color: #27C064;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            width: 20px;
            text-align: center;
            margin-right: 10px;
            padding: 3px 0;
            border-radius: 2px;
        }

        .desc {
            font-size: 16px;
            font-weight: bold;
            color: #000;
        }
    }

    .coupons {
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
        padding: 20px 0 20px 15px;

        .todayCouns {
            margin-top: 20px;

            >span {
                font-size: 12px;
            }

            >span:first-child {
                color: #000;
            }

            >span:last-child {
                color: #666;
                margin-left: 10px;
            }
        }

        .quanBox {
            display: flex;
            justify-content: flex-start;
            flex-flow: wrap;
            min-height: 80px;

            .quan {
                box-sizing: border-box;
                padding-left: 5px;
                position: relative;
                margin-top: 15px;
                margin-right: 2%;
                margin-left: 2px;
                width: 45%;
                height: 80px;
                border: 1px dashed $color-green;
                // border-left: 2px dashed $color-green;
                // border-top: 1px solid $color-green;
                // border-bottom: 1px solid $color-green;
                // border-radius: 0 2px 2px 0;

                .money {
                    color: $color-green;
                    font-size: 24px;
                    margin: 5px 0;
                    span {
                        font-size: 24px;
                    }

                    >span:first-child {
                        font-size: 20px;
                    }
                }

                .couponsConditions {
                    font-size: 10px;
                    color: #565656;
                }

                .couponsScope {
                    padding-top: 5px;
                    font-size: 10px;
                    width: 90%;
                    color: $color-green;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .getCopons {
                    position: absolute;
                    right: 0;
                    top: 0px;
                    font-size: 12px;
                    color: #fff;
                    -webkit-writing-mode: vertical-rl;
                    -ms-writing-mode: tb-rl;
                    writing-mode: vertical-rl;
                    border-radius: 0 2px 2px 0;
                    width: 35px;
                    height: 78px;
                    line-height: 35px;
                    text-align: center;
                    background-color: $color-green;
                }
            }
        }

        .todayCouns {
            color: #000;
            font-size: 12px;
            margin-top: 20px;
        }
    }

    .coupons-two {
        padding-top: 20px;

        .am-button {
            width: 60%;
            border-radius: 35px;
            background-color: #2E354B;
            color: #00BE49;
            font-weight: bold;
            margin: 20px auto;
            font-size: 14px;
        }

        .integralBox {
            margin-top: 10px;
            padding: 0 15px;
            display: flex;

            .leftBox {
                width: 38%;
                height: 0;
                border-right: 64px solid transparent;
                border-top: 60px solid #dbdbdb;
                border-radius: 7px 0 0 0;

                .leftBoxTitle {
                    margin-top: -52px;
                    margin-left: 14px;
                    font-size: 12px;
                    color: #000;
                }

                .leftBoxSubTitle {
                    margin-left: 14px;
                    padding-top: 4px;
                    font-size: 12px;
                }
            }

            .rightBox {
                position: relative;
                width: 38%;
                height: 0;
                border-left: 56px solid transparent;
                border-top: 60px solid $color-green;
                transform: rotateX(180deg);
                margin-left: -45px;
                border-top-right-radius: 7px;
                color:#444;
                .rightBoxTitle {
                    margin-top: -22px;
                    font-size: 12px;
                    transform: rotateX(-180deg);
                }

                .rightBoxSubTitle {
                    margin-top: -28px;
                    transform: rotateX(-180deg);
                    font-size: 12px;
                }

                .line {
                    margin-top: -30px;
                    margin-left: -130%;
                    width: 190%;
                    height: 7px;
                    background-image: linear-gradient(270deg, #fbec53, #7affaf);
                    border-radius: 4px;
                }

                img {
                    top: -15px;
                    right: -10px;
                    position: absolute;
                    transform: rotateX(-180deg);
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    .coupons-three {
        padding-top: 20px;

        .coupons-three-content {
            padding-bottom: 100px;

            .list_content {
                width: 100%;

                .good_list_wrapper {
                    height: calc(100% - 0px);
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-content: flex-start;
                    overflow: scroll;

                    .list_item {
                        width: calc(100% - 20px);
                        height: 100px;
                        padding: 5px;
                        // margin: 0 10px;
                        border-bottom: 1px solid #F2F4F7;
                        box-sizing: border-box;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;

                        &_left {
                            display: flex;
                            align-items: center;

                            img {
                                width: 70px;
                            }
                        }

                        &_right {
                            flex: 1;
                            height: 90%;
                            position: relative;
                            padding: 0 20px;
                            .right_top {
                                height: calc(100% - 25px);

                                .title {
                                    font-size: 14px;
                                    color: #333;
                                    line-height: 20px;
                                    padding: 0;
                                }

                                .describe {
                                    font-size: 12px;
                                    color: #666;
                                    margin: 5px 0;
                                }
                            }

                            .right_bottom {
                                height: 25px;
                                display: flex;
                                align-items: center;
                                // position: relative;
                                margin-top: 2%;

                                .amount {
                                    >span:first-child{
                                        color: red;
                                        font-size: 14px;
                                    }
                                    >span:last-child{
                                        padding: 2px 5px 2px 2px;
                                        font-size: 12px;
                                        color: $color-green;
                                        border: 1px solid $color-green;
                                        border-top-right-radius: 20px;
                                        border-bottom-right-radius: 20px;
                                        margin-left: 10px;
                                    }
                                }

                                .iconCartWrapper {
                                    position: absolute;
                                    width: 50px;
                                    height: 50px;
                                    bottom: 0px;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .bottom-text{
                color:#999;
                font-size:14px;
                text-align: center;
                margin: 20px 10px;
            }
        }
    }

    .open-button {
        width:340px;
        position: fixed;
        bottom:20px;
        left:0;
        right:0;
        margin: 0 auto;
        .am-button {
            width: 80%;
            border-radius: 35px;
            background-color: #2E354B;
            color: #00BE49;
            font-weight: bold;
            margin: 20px auto;
            font-size: 14px;
            display: flex;

            >span:first-child {
                flex: 1;
                text-align: left;
                padding-left: 30px;

                i {
                    color: brown;
                    padding: 0 5px;
                }

                del {
                    color: #fff;
                }
            }

            >span:last-child {
                background-color: #00BE49;
                color: #fff;
                display: inline-block;
                width: 35%;
                height: 100%;
                text-align: center;
            }
        }
    }
    .empty-data{
        width: 100%;
        height: 80px;
        @extend .flexCenter;
        font-size: 14px;
        color:#666;
    }
}
