.openMember-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 50px;

    .head-wrapper {
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        padding: 0 20px;
        background-color: $color-black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .left{
            margin-right: 10px;
            >img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }
        .right{
            p{
                color:#fff;
                font-size: 14px;
                font-weight: bold;
                margin: 10px 0 ;
                // >span{
                //     display: block;
                // }
                >span:first-child{
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .introduce-wrapper {
        padding: 20px 15px;

        .title {
            font-size: 14px;
            color: #333;
            margin-bottom: 15px;
        }

        .van-grid {
            width: 100%;
            height: 80px;
            display: flex;

            &-item {
                width: 33.3%;
                height: 100%;
                box-sizing: border-box;
                padding: 16px 8px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                flex-direction: row;

                .van-grid-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                >span {
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                .bottom-title {
                    margin-top: 5px;
                    color: #333;
                    font-size: 12px;
                }
            }
        }
    }
    .am-list.green-style{
        padding: 0 15px;
        margin-bottom: 30px;
        .am-list-body{
            display: flex;
            justify-content: flex-start;
        }
        .am-list-body::before{
            height: 0;
        }
        .am-list-body::after{
            height: 0;
        }
        
        .am-list-item {
            width:150px;
            height:150px;
            padding-left: 0;
            border-radius: 10px;
            margin: 0 10px;
            .am-list-line{
                width:100%;
                padding-right: 0;
                .am-list-content {
                    padding-bottom: 0;
                    width:100%;
                    height:100%;
                    position: relative;
                }
            }
            .am-list-line:after{
                height: 0!important;
            }
            .foldNumber{
                position: absolute;
                top:0;
                left:0;
                background-color: #FF3131;
                color:#fff;
                padding: 5px 5px 2px;
                border-bottom-right-radius: 5px;
                font-size:12px;
            }
            .label{
                display: block;
                font-size: 14px;
                color:#333;
                padding: 35px 10px 0;
            }
            .describe{
                box-sizing:border-box;
                width:100%;
                display: block;
                height:30px;
                line-height: 30px;
                font-size: 12px;
                color:#666;
                padding: 0 10px;
                margin-bottom: 15px;
            }
            .price{
                width:100%;
                display: block;
                height:40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                >span{
                    font-size: 20px;
                    color:$color-green;
                    margin-right: 10px;
                }
                >del{
                    color:#999;
                }
            }
        }
        .am-list-item:first-child{
            background-color: #E7FFEF;
        }
        .am-list-item:nth-of-type(2){
            background-color: #F5F5F5;
        }
        .am-list-item.am-checkbox-item{
            .am-list-thumb {
                width: 0;
                margin-right: 0;
                .am-checkbox-inner {
                    right: 5px !important;
                    left: auto;
                }
                .am-checkbox{
                    height:100%;
                }
            }
        }
        .am-checkbox.am-checkbox-checked .am-checkbox-inner {
            border-color: $color-green;
            background: $color-green;
        }
    }
    .am-list.pay-style{
        .am-list-item {
            padding-left: 0;
            .am-list-line{
                .am-list-content {
                    display: flex;
                    padding-bottom: 0;
                }
            }
        }
        .am-list-item.am-checkbox-item{
            .am-list-thumb {
                width: 0;
                .am-checkbox-inner {
                    right: 20px !important;
                    left: auto;
                }
            }
        }
        .am-checkbox.am-checkbox-checked .am-checkbox-inner {
            border-color: $color-green;
            background: $color-green;
        }
    }

    .icon_wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkBox_text {
        font-size: 15px;
        color: #333;
        margin-left: 10px;
    }
    .button-wrapper {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin: 50px 0 0;
        .am-button {
            width: 250px;
            background-color: $color-black;
            border-radius: 25px;
            border: none;
            color: $color-green;
            font-weight: bold;
            font-size: 15px;
        }
    }
}