.addaddress_wrapper {
    width: 100%;
    height: 100%;

    .addaddress_content {
        width: 100%;
        height: 100%;

        .form_wrapper {
            width: 100%;

            .am-list-item {
                .am-input-label {
                    font-size: 15px;
                    color: #333;
                }

                .am-input-control input {
                    font-size: 15px;
                }

                .am-list-line {
                    .am-list-content {
                        font-size: 16px;
                        color: #333;
                        width: 65px !important;
                        flex: none;
                        font-size: 16px;
                        color: #333;
                    }

                    .am-list-extra {
                        flex-basis: auto;
                        font-size: 15px;
                    }
                }

            }

            .am-list-item:last-child .am-list-line .am-list-content {
                flex: 1;
            }
        }
    }

    .button_wrapper {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .am-button {
            width: 250px;
            background-color: $color-black;
            border-radius: 25px;
            border: none;
            color: $color-green;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .tag_wrapper {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;

        // align-items: flex-start;
        .am-button {
            margin: 5px;
            padding: 3px 8px;
            height: 25px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
        }

        .add_tag {
            width: 40px;
            height: 25px;
            padding: 0 5px;
            background-color: #fff;
            line-height: 30px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .sure_tag {
            width: 40px;
            height: 25px;
            padding: 0;
            font-size: 12px;
            background-color: red;
            line-height: 30px;
            border: none;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .am-button {
                color: #fff;
            }
        }

        .am-list-item.am-input-item {
            height: 25px;
        }

        .am-list-item {
            min-height: 25px;
        }

        .am-button-primary::before {
            border: 1px solid rgb(218, 212, 212);
        }

        .am-tag-normal,
        .am-tag-active {
            margin: 5px;
        }

        .tag_active {
            background-color: #0089F2;
            color: #fff;
        }

        .am-input-item {
            width: 100px;
            margin: 5px 0;
        }
    }
}