.address_wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .address_content {
        width: 100%;
        height: calc(100% - 70px);
    }

    /* overflow: auto; */
    .add_btn_wrapper {
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        padding: 15px 20px;
        color: #fff;
        display: flex;
        justify-content: center;
        /* border:1px solid red; */
        position: fixed;
        background-color: #fff;
        bottom: 0px;
        z-index: 999;

        .am-button {
            width: 250px;
            background-color: $color-black;
            border-radius: 25px;
        }

        span {
            color: $color-green;
            font-size: 14px;
            margin-left: 5px;
            font-weight: bold;
        }
    }

    .no_address {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
        }

        p {
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #999;
            font-size: 14px;
        }
    }

    .list_item {
        width: 100%;
        height: 90px;
        box-sizing: border-box;
        padding: 0 0 0 20px;
        border-bottom: 1px solid #f4f6f7;

        &_main {
            width: 100%;
            height: 40px;
            line-height: 40px;

            >span {
                font-size: 14px;
                color: #333;
                font-weight: bold;
            }

            >span:first-child {
                width: 60px;
                display: inline-block;
            }
            .default_tag{
                background-color: #FF0000;
                margin-left: 5px;
                padding: 5px 8px;
                color:#fff;
                border-radius: 3px;
                font-size:12px;
            }
            .default_label{
                background-color: #427CFF;
                margin-left: 5px;
                padding: 5px 8px;
                color:#fff;
                border-radius: 3px;
                font-size:12px;
            }
        }
    }

    .list_item_detail {
        width: 100%;
        height: 50px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;

        >span {
            display: inline-block;
        }

        >span:first-child {
            flex: 1;
            font-size: 13px;
            color: #666;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: normal !important;
        }

        >span:last-child {
            display: inline-block;
            width: 60px !important;
            text-align: center;
        }
    }

    .am-list-item {
        padding-left: 0;
    }

    .am-list-item .am-list-line {
        padding-right: 0;
    }

    .am-list-item .am-list-line .am-list-content {
        padding: 0;
    }

    .am-swipe-btn {
        width: 80px;
        text-align: center;
    }

    .am-pull-to-refresh-indicator {
        font-size: 14px;
    }
}