  .PullRefreshComponent {
      height: 100%;

      .PullRefresh {
          height: 100%;

          &_wrapper {
              position: relative;
              height: 100%;
              overflow: hidden;
          }

          &_downTips {
              box-sizing: border-box;
              z-index: 100;
              position: absolute;
              height: 60px;
              line-height: 25px;
              top: 0;
              width: 100%;
              text-align: center;
              font-size: 13px;
              color: #666;
              padding-top: 10px;
              @extend .flexCenter;

              .left_symbol {
                  height: 100%;
                  margin-right: 10px;
                  @extend .flexCenter;

                  >span {
                      display: inline-block;
                      height: 100%;
                  }

                  .rotate_arrow {
                      @extend .flexCenter;
                      -webkit-transform: rotate(-180deg);
                      transform: rotate(-180deg);
                      -webkit-transition: -webkit-transform .2s linear;
                      transition: transform .2s linear;
                  }

                  .reset_arrow {
                      @extend .flexCenter;
                      -webkit-transform: rotate(0deg);
                      transform: rotate(0deg);
                      -webkit-transition: -webkit-transform .3s linear;
                      transition: transform .3s linear;
                  }

                  >img {
                      width: 20px;
                      height: 20px;
                  }
              }
          }

          &_upTips {
              height: 50px;
              line-height: 50px;
              width: 100%;
              position: absolute;
              bottom: 0;
              text-align: center;
              font-size: 14px;
              color: #666;

              .loading_gif {
                  @extend .flexCenter;

                  >img {
                      width: 18px;
                      height: 18px;
                      margin-right: 8px;
                  }
              }
          }

          &_content {
              position: relative;
              z-index: 101;
              min-height: calc(100% + 1px);
          }

          &_noMore {
              position: absolute;
              height: 50px;
              line-height: 50px;
              bottom: 0;
              text-align: center;
              width: 100%;
          }
      }

      .empty_wrapper {
          width: 100%;
          flex: 1;
          margin-top: 60%;
          @extend .flexCenter;

          .icon_wrapper {
              display: block;
              margin: 0 auto;
              text-align: center;

              >p {
                  font-size: 12px;
                  color: #666;
              }
          }
      }
  }