.evaluationDetail-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px 20px;
  overflow-y: scroll;
  .list-wrapper {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: #ddd 0px 0px 10px;
    padding: 10px 10px 15px;
    margin: 10px 0;

    .head {
      margin-bottom: 10px;

      .top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        >img {
          width: 50px;
          border-radius: 25px;
        }

        >span {
          margin-left: 10px;
          color: #666;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        color: #666;
        padding: 0 10px;
      }
    }

    .text {
      font-size: 14px;
      color: #666;
      margin: 15px 0;
      padding: 0 10px;
      line-height: 25px;
    }

    .image-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      .image-wrapper{
        width: 100px;
        height: 100px;
        margin: 0 5px 10px;
        overflow: hidden;
        @extend .flexCenter;
        >img {
          width: 100px;
        }
      }
    }
  }
}