.notification-wrapper {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: #666;
	@extend .flexCenter;

	.container {
		.list-item {
			@extend .container;
			height: 90px;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.left {
				width: 80px;
				height: 100%;
				@extend .flexCenter;

				.small-point {
					width: 6px;
					height: 6px;
					border-radius: 50%;
					position: absolute;
					top: -4px;
					right: -4px;
					background-color: #FF2A00;
				}

				.icon-wrapper {
					width: 60%;
					height: 54%;
					border: 1px solid $border-color;
					border-radius: 10px;
					@extend .flexCenter;
					position: relative;

				}
			}

			.right {
				height: 100%;
				flex: 1;
				flex-wrap: wrap;
				flex-direction: column;
				border-bottom: 1px solid $border-color;
				@extend .flexCenter;
				// justify-content: flex-start;
				// align-items: center;
				overflow: hidden;

				>p {
					width: 100%;
				}

				.title {
					font-size: 16px;
					color: #000;
					margin-bottom: 10px;
					display: flex;
					justify-content: space-between;

					>span:last-child {
						padding-right: 15px;
						color: #666;
						font-size: 12px;
					}
				}

				.content {
					font-size: 14px;
					color: #666;

					>span {
						display: inline-block;
						width: 80%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}