.discover-wrapper{
    height:100%;
    width: 100%;
    .head-search {
        height:50px;
        border-bottom: 1px solid #F2F4F7;
        margin-bottom: 10px;
        z-index:202;

        .am-search {
          padding: 0;
          background-color: #fff;
          .am-search-input {
            // flex:none;
            width: 90%;
            height: 90%;
            border-radius: 30px;
            margin: 5px 5px 0 10px;
            background-color: #EFEFF5;
            .am-search-clear{
                top: 6px;
                right:10px;
            }
            .am-search-synthetic-ph {
              height: 100%;
              line-height: 40px;
            }
      
            input[type="search"] {
              height: 60%;
              margin-top: 8px;
            }
          }
        }
        .am-search-start{
          .am-search-input {
            flex:none;
            width: 85%;
          }
        }
        .am-search-cancel{
          line-height: 50px;
          font-size: 14px;
          padding-left: 5px;
        }
      }
    .nav-wrapper{
        padding: 0 10px;
        margin-bottom: 5px;
        position: relative;
        z-index:202;
        background-color: #fff;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .left {
                height: 100%;
                line-height: 40px;
                display: flex;
                justify-content: flex-start;

                >span:first-child {
                    display: inline-block;
                    font-size: 16px;
                    position: relative;
                    padding-left: 8px;
                    margin-right: 10px;
                }

                >span:first-child:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 25%;
                    height: 50%;
                    width: 3px;
                    background-color: $color-green;
                }
            }
        }

        .wrapper.content-wrapper {
            width: calc(100% - 50px);
            height: 35px;
            font-size: 13px;
            overflow: hidden;
            // background-color: #fff;
            margin: 0 0 5px 0;
            padding-bottom: 5px;
            position: relative;
            .content {
                width: fit-content;
                height: 30px;
                line-height: 30px;
                display: flex;
                overflow-x: auto;
                justify-content: space-between;
        
                .item {
                    border-radius: 20px;
                    font-size: 12px;
                    padding: 0 10px;
                    margin: 0 2px;
                    color: #555;
                    border-top: 1px solid #f3f3f3;
                    border-bottom: 1px solid #f3f3f3;
                    text-align: center;
                    flex-shrink: 0;
                    white-space: nowrap;
                    border:1px solid #c5c5c5;
                }
        
                .tab-active {
                    color: #333333;
                    font-size: 12px;
                    font-weight: bold;
                    position: relative;
                    border:1px solid $color-green;
                }
            }
        }
        .fold-btn{
            width:50px;
            height:35px;
            position: absolute;
            right: 0;
            top: 40px;
            font-size:14px;
            color:#666;
            @extend .flexCenter;
        }
        .menu-wrapper{
            // height:calc(100vh - 310px);
            background-color: #fff;
            position: absolute;
            z-index: 201;
            left: 0;
            right: 0;
            .title{
                font-size:14px;
                color:#666;
                margin-top: 20px;
                padding: 0 10px;
            }
            .list-wrapper{
                padding: 10px 0px;
                display: flex;
                justify-content: flex-start;
                align-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                .item {
                    height: 30px;
                    line-height: 30px;
                    border-radius: 20px;
                    font-size: 12px;
                    padding: 0 10px;
                    margin: 0 8px 10px;
                    color: #555;
                    border-top: 1px solid #f3f3f3;
                    border-bottom: 1px solid #f3f3f3;
                    text-align: center;
                    flex-shrink: 0;
                    white-space: nowrap;
                    border:1px solid #c5c5c5;
                }
                .tab-active {
                    color: #333333;
                    font-size: 12px;
                    font-weight: bold;
                    position: relative;
                    border:1px solid $color-green;
                }
            }
        }
    }
    .content-list-wrapper{
        width: 100%;
        // height:calc(100vh - 210px);
        // height:calc(100% - 128px);
        position: fixed;
        top: 128px;
        bottom: 70px;
        left: 0;
        right: 0;
        // overflow: hidden;
        .list-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            padding: 0 5px 0;
            // padding: 0 5px 80px;
            box-sizing: border-box;

            .list-item {
                width: 152px;
                height: 260px;
                background-color: #fff;
                border-radius: 5px;
                margin: 5px;
                overflow: hidden;
                padding: 0 10px;
                box-shadow: none;
                .top-row {
                    >img {
                        width: 100%;
                        height: 150px;
                    }
                }

                .middle-row {
                    padding: 0 5px;
                    height: 40px;
                    margin-top: 10px;
                    .title {
                        font-size: 14px;
                        color: #333;
                        @include ellipsis;
                    }

                    .describe {
                        font-size: 11px;
                        color: #666;
                        margin: 10px 0 0 0;
                        @include ellipsis;
                    }
                }

                .bottom-row {
                    height: 40px;
                    padding: 0 5px;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    .text-wrapper{
                        >span {
                            color: red;
                            font-size: 14px;
                        }
                    }

                    .iconCartWrapper {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        bottom: 0px;
                        right: 0;
                    }
                }
            }

            .list-item:first-child {
                margin-top: 10px;
            }

            .list-item:nth-of-type(2) {
                margin-top: 10px;
            }

            .nodata-wrapper {
                width: 100%;
                height: 100px;
                font-size: 13px;
                color: #666;
                @extend .flexCenter;
            }
            .empty_wrapper {
                width: 100%;
                flex: 1;
                margin-top: 50%;
                @extend .flexCenter;
                .icon_wrapper {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    >p{
                      font-size: 12px;
                      color:#666;
                    }
                }
            }
        }
    }
}