.incorrectTip {
    height: .5rem;

    span {
        /*line-height: .8rem;*/
        color: #ff4b4b;
    }
}

.gestureUnlock {
    margin: 0 auto;
}

.gesture {
    margin: 1.0rem auto 0;

    ul {
        margin: auto;
        display: flex;
        width: 8.88rem;
        height: 8.88rem;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.45rem 0.45rem;
            border-radius: 50%;
            width: 1.2rem;
            height: 1.2rem;
            border: 0.08rem solid #e0e0e0;

            /*宽度是1.2rem,边框是0.08rem,所以半径是0.68rem,1rem=37.5px，所以0.68x37.5 = 25.5px*/
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 0.40rem;
                height: 0.40rem;
                border-radius: 50%;

                i {
                    display: inline-block;
                    width: 1px;
                    height: 1px;
                }
            }
        }

        /*被选中的样式*/
        .selectedOuter {
            border: 0.08rem solid #498bcb;

            .selectedInside {
                background: #498bcb;
            }
        }

        .selectedOuter2 {
            border: 0.08rem solid #ff4b4b;

            .selectedInside2 {
                background: #ff4b4b;
            }
        }
    }
}

.canvasDiv {
    position: fixed;
    top: 0;
    left: 0;
    // background: rgba(0,0,0,0.1);
    z-index: 100;

    #canvasClearTop {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 0, 0, 0.2)
    }
}