.cartHead-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    .am-navbar-title{
        color:#333;
        font-size:16px;
    }
    .am-navbar-right{
        font-size: 15px;
    }
}