.cart_wrapper {
    width: 100%;
    // height: calc(100% - 60px);
    position: fixed;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    background-color: #F1F3F3;
    overflow: auto;

    .am-stepper-handler {
        border: none;
    }

    .am-icon-xxs {
        width: 12px;
        height: 12px;
    }

    .am-stepper-input {
        background-color: #F1F3F3;
    }

    .am-checkbox.am-checkbox-checked .am-checkbox-inner {
        border-color: $color-green;
        background: $color-green;
    }

    // border: 1px solid red;
    .am-list-line {
        z-index: 3;
    }

    .am-list-item .am-list-line .am-list-content {
        height: 100%;
    }

    .am-list {
        .am-list-item.am-checkbox-item .am-list-thumb {
            .am-checkbox {
                height: 100%;
            }

            .am-checkbox-inner {
                top: 45%;
            }
        }
    }

    .list_content {
        margin-top: 45px;
        // min-height: calc(100% - 60px);
        margin-bottom: 75px;
        overflow-y: scroll;

        .am-list {
            width: 100%;
            min-height: 100%;
        }

        .am-list-body {
            background-color: #F1F3F3;
            min-height: 100%;
        }

        .am-list-body::after {
            height: 0;
        }

        .am-list-body::before {
            display: none;
        }

        .am-list-body div:not(:last-child) .am-list-line::after {
            display: none;
        }

        .am-list-item {
            padding-left: 0;
            margin: 10px 0;
            width: 100%;
            height: 120px;
            border-radius: 15px;
            background-color: #fff;
        }

        .list_item {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            // margin: 10px 0;
            .list_item_img {
                margin-left: 10px;

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            .list_item_content {
                box-sizing: border-box;
                width: calc(100% - 115px);
                height: 120px;
                margin-left: 10px;
                padding-right: 5px;

                // border:1px solid red;
                // display: flex;
                // flex-direction: row;
                // flex-wrap: wrap;
                .item_title_group {
                    width: 100%;
                    height: calc(100% - 50px);
                    overflow: hidden;
                    padding-top: 10px;
                    display: flex;
                    align-content: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;

                    p:last-child {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .item_title {
                        width: 100%;
                        color: #333;
                        font-size: 14px;
                        word-wrap: break-word;
                        word-break: break-all;
                        white-space: normal;
                    }

                    .item_describe {
                        width: 100%;
                        color: #666;
                        font-size: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        margin: 5px 0 15px 0;
                        overflow: hidden;
                    }
                }

                .item_price_count {
                    display: flex;
                    // flex: 1;
                    height: 40px;
                    justify-content: space-between;
                    // justify-content: flex-start;
                    align-items: center;
                }

                .item_price {
                    font-weight: bold;

                    >span:nth-of-type(1) {
                        font-size: 13px;
                        color: #e94f4f;
                    }

                    >span:nth-of-type(2) {
                        font-size: 15px;
                        color: #e94f4f;
                        // font-family:Fantasy;
                    }
                }
            }
        }
    }

    .empty_list_content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom_statistical {
        width: 100%;
        height: 60px;
        background-color: #fff;
        position: fixed;
        bottom: 75px;
        border-top: 1px solid #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 15px;
        z-index: 9;

        .select-all-wrapper {
            position: relative;
            width: 75px;

            .am-list-item {
                width: 100%;
            }

            .am-list-thumb {
                margin-right: 10px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 999;
                width: 100%;

                .am-checkbox-wrapper {
                    width: 100%;
                    height: 100%;
                    @extend .flexCenter;
                    justify-content: flex-start;
                }
            }

            .am-list-content {
                font-size: 14px;
                text-align: right;
            }

            .am-list-item.am-list-item-active {
                background-color: #fff;
            }
        }

        .right_box {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .am-button {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
        }

        .am-button::before {
            border: none;
        }

        .am-button-warning {
            padding: 0 15px;
            font-size: 14px;
            border: none;
            border-radius: 30px;
            background-color: $color-green;
            font-weight: bold;
        }

        .amount_text {
            width: auto;
            font-size: 14px;
            color: #333;
        }

        .amount_total {
            color: #333;
            font-weight: bold;

            >span:first-child {
                font-size: 12px;
            }

            >span:last-child {
                font-size: 15px;
            }
        }

        .settlement_button {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .am-list-item {
            padding-left: 0;
        }
    }

    .shadow-only-bottom {
        // box-shadow: 0 -12px 5px -10px #CBCBCB inset;
        border-bottom: 1px solid #f0f0f0;
    }

    .empty_wrapper {
        height: calc(100% - 50px);
        margin-top: 40%;

        .icon_wrapper {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            text-align: center;
        }

        p {
            text-align: center;
            color: #333333;
            font-size: 14px;
            margin: 20px 0;
        }
    }

    .recommended-wrapper {
        box-sizing: border-box;
        margin-top: 50px;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        .head-wrapper {
            width: 100%;
            @extend .flexCenter;

            .head-title {
                width: 80%;
                box-sizing: border-box;
                position: relative;
                @extend .flexCenter;

                >span {
                    font-size: 14px;
                    color: #666;
                }
            }

            .head-title::before {
                content: "";
                height: 1px;
                width: 35%;
                background-color: #c5c5c5;
                position: absolute;
                top: 10px;
                left: 0;
            }

            .head-title::after {
                content: "";
                height: 1px;
                width: 35%;
                background-color: #c5c5c5;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }

        .goods-list-wrapper {
            width: 100%;

            .content-wrapper {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: flex-start;
                padding: 0 5px 80px;
                box-sizing: border-box;

                .list-item {
                    width: 152px;
                    height: 260px;
                    background-color: #fff;
                    border-radius: 5px;
                    margin: 5px;
                    overflow: hidden;
                    padding: 0 10px;
                    box-shadow: none;

                    .top-row {
                        >img {
                            width: 100%;
                            height: 150px;
                        }
                    }

                    .middle-row {
                        padding: 0 5px;
                        height: 40px;
                        margin-top: 10px;

                        .title {
                            font-size: 14px;
                            color: #333;
                            @include ellipsis;
                        }

                        .describe {
                            font-size: 11px;
                            color: #666;
                            margin: 10px 0 0 0;
                            @include ellipsis;
                        }
                    }

                    .bottom-row {
                        height: 40px;
                        padding: 0 5px;
                        position: relative;
                        display: flex;
                        align-items: flex-end;

                        .text-wrapper {
                            >span {
                                color: red;
                                font-size: 14px;
                            }
                        }

                        .iconCartWrapper {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            bottom: 0px;
                            right: 0;
                        }
                    }
                }

                .list-item:first-child {
                    margin-top: 10px;
                }

                .list-item:nth-of-type(2) {
                    margin-top: 10px;
                }

                .nodata-wrapper {
                    width: 100%;
                    height: 100px;
                    font-size: 13px;
                    color: #666;
                    @extend .flexCenter;
                }
            }
        }
    }
}