.couponPopup_wrapper {
  // .am-tabs-default-bar-tab{
  //     width: 40%!important;
  // }
  .am-list-header {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 5px;
  }

  .am-tabs-default-bar-top .am-tabs-default-bar-content {
    width: 80%;
    margin: 0 auto;
  }

  .am-list-item .am-list-line .am-list-content {
    font-size: 15px;
    color: #333;
  }

  .am-whitespace.am-whitespace-md {
    height: 0;
  }

  .am-tabs-vertical .am-tabs-tab-bar-wrap {
    height: 140px;
  }

  .radio-wrapper {
    .am-list {
      width: 100%;
    }
  }

  .coupon-checkbox-wrapper {
      .am-list-body::before,.am-list-body::after{
        height: 0;
      }
      .am-list-line::after{
        height: 0!important;
      }
      .am-list-item{
        width: 95%;
        margin: 10px auto;
        padding-left:0;
        // box-shadow: #F0F0F0 0px 0px 30px 5px;
        box-shadow: 0 0 20px 0 #e4e7ed;
      }
    .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
      right: 20px !important;
      left: auto;
    }
    .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox{
      height:100%;
    }
    .am-checkbox.am-checkbox-checked .am-checkbox-inner {
      border-color: #00c35d;
      background: #00c35d;
      top:40%;
    }
    .am-checkbox.am-checkbox .am-checkbox-inner {
      top:40%;
    }
    .am-list-thumb{
      width: 0!important;
    }
    .am-list-item{
      align-items: center!important;
    }
    .coupon-item{
      width: calc(100% - 40px);
      height:100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-left{
        width: 40%;
        height: 70px;
        // border: 1px solid red;
        p{
          color: #666;
          text-align: center;
        }
        .right-amount{
          font-size: 20px;
          color: red;
        }
        >p:not(:first-child){
          font-size: 13px;
        }
      }
      &-right{
        flex:1;
        height: 50px;
        // border: 1px solid black;
        p{
          color: #666;
          text-align: right;
        }
        .right-title{
          font-size: 15px;
          margin-bottom: 10px;
        }
        >p:last-child{
          font-size: 13px;
        }
      }
    }
  }
  .noCoupon{
    img{
      width: 50%;
    }
  }
  .my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
  }
}