.settlement_wrapper {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    background-color: #F1F3F3;
    overflow: auto;
    
    .am-list-item {
        padding-left: 0;
    }

    .am-list .am-list-item.am-checkbox-item .am-list-thumb {
        width: 0;
    }

    .am-list-item .am-list-line .am-list-content {
        display: flex;
        padding-bottom: 0;
    }

    .am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
        right: 20px !important;
        left: auto;
    }

    .am-checkbox.am-checkbox-checked .am-checkbox-inner {
        border-color: $color-green;
        background: $color-green;

    }

    .icon_wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkBox_text {
        font-size: 15px;
        color: #333;
        margin-left: 10px;
    }

    .address-list {
        .select-address {
            .am-list-line {
                height: 80px;
            }

            .am-list-line::before {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 2px;
                background: -webkit-repeating-linear-gradient(135deg, #ff6c6c, #ff6c6c 20%, transparent 0, transparent 25%, #1989fa 0, #1989fa 45%, transparent 0, transparent 50%);
                background: repeating-linear-gradient(-45deg, #ff6c6c, #ff6c6c 20%, transparent 0, transparent 25%, #1989fa 0, #1989fa 45%, transparent 0, transparent 50%);
                background-size: 80px;
                content: "";
            }

            .am-list-content {
                align-items: center;
            }

            .address-info {
                width: 100%;
                height: 80px;
                padding: 0;
                // padding:0 15px 0 0;
                font-size: 14px;
                color: #333;
                display: flex;

                .iconWrapper {
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .text-info {
                    width: calc(100% - 50px);
                    // flex:1;
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    flex-direction: row;

                    >p {
                        width: 100%;
                        margin: 3px 0;
                    }

                    >p:last-child {
                        @include ellipsis;
                    }
                }
            }
        }

        // .select-address::before{
        //     position: absolute;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     height: 2px;
        //     background: -webkit-repeating-linear-gradient(135deg,#ff6c6c,#ff6c6c 20%,transparent 0,transparent 25%,#1989fa 0,#1989fa 45%,transparent 0,transparent 50%);
        //     background: repeating-linear-gradient(-45deg,#ff6c6c,#ff6c6c 20%,transparent 0,transparent 25%,#1989fa 0,#1989fa 45%,transparent 0,transparent 50%);
        //     background-size: 80px;
        //     content: "";
        // }

        .deliveryTime {
            .am-list-line {
                padding-left: 20px;

                .am-list-content {
                    display: block;
                }

                .am-list-brief {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                }

                .am-list-extra {
                    font-size: 14px;
                }
            }
        }

        .good_list {
            .am-list-line {
                padding-left: 20px;

                .am-list-extra {
                    flex-basis: auto;
                    margin: 0 0 0 20px;
                }
            }
            .img_wrapper::-webkit-scrollbar {
                display: none;
            }
            .img_wrapper {
                width: 100%;
                height: 80px;
                // margin: 0 0 5px 0;
                overflow-x: auto;
                display: flex;
                align-items: center;

                .list_wrapper {
                    white-space: nowrap;
                    display: inline-block;

                    img {
                        display: inline-block;
                        width: 70px;
                        height: 65px;
                        margin: 0 5px;
                    }
                }
            }
        }

        .am-list-line {
            padding-left: 10px;
        }

        .am-list-content {
            font-size: 15px;
            color: #333;
        }
    }

    .coupons-list {
        .am-list-line {
            padding-left: 20px;
        }

        .am-list-content {
            font-size: 15px;
            color: #333;
        }

        .am-list-extra {
            font-size: 15px;
        }
    }

    .cost-list {
        .am-list-line {
            padding-left: 20px;

            .am-list-extra {
                color: #333;
                font-weight: bold;
            }
        }

        .am-list-content {
            font-size: 15px;
            color: #333;
        }
    }

    .note-list {
        .am-list-line {
            padding-left: 20px;
        }

        .am-list-item .am-input-label {
            font-size: 15px;
            color: #333;
        }

        .am-list-item .am-input-control input {
            font-size: 15px;
            color: #333;
        }
    }

    .bottom_statistical {
        width: 100%;
        height: 60px;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        z-index: 9;

        .am-button {
            height: 60px;
            border-radius: 0;
            line-height: 60px;
        }

        .am-button::before {
            border: none;
        }

        .am-button-warning {
            padding: 0 25px;
            font-size: 15px;
            border: none;
            color: #fff;
        }

        .amount_text {
            font-size: 15px;
            color: #333;
            margin-left: -70px;
        }

        .amount_total {
            font-size: 16px;
            font-weight: bold;
            color: red;
            margin-right: 20px;
        }

        .settlement_button {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .am-list-item {
            padding-left: 0;
        }
    }
}