.selectTime_wrapper {
  .am-list-header {
    border-bottom: 1px solid #F0F0F0;
  }
  .am-list-body::before{
    height: 0!important;
  }
  .am-list-item .am-list-line .am-list-content {
    font-size: 15px;
    color: #333;
  }

  .am-whitespace.am-whitespace-md {
    height: 0;
  }

  .am-tabs-vertical .am-tabs-tab-bar-wrap {
    height: 140px;
  }

  .radio-wrapper {
    .am-list {
      width: 100%;
    }
  }

  .my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
  }
}