.evaluation-wrapper {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #666;
    background-color: $bg-color;

    .demoTitle:before,
    .demoTitle:after {
        border-bottom: none;
    }

    .am-list {
        width: 100%;
        background-color: #fff;

        .head-wrapper {
            background-color: #fff;
            display: flex;
            justify-content: flex-start;

            .left {
                width: 80px;

                >img {
                    width: 100%;
                }
            }

            .right {
                margin-left: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                >div {
                    width: 100%;
                }
            }
        }

        .head-goods-wrapper {
            background-color: #fff;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .top::-webkit-scrollbar {
                display: none;
            }

            .top {
                width: 100%;
                height: 80px;
                box-sizing: border-box;
                padding: 0 0 10px;
                overflow-x: scroll;
                overflow-y: hidden;

                .image-list-wrapper {
                    height: 100%;
                    width: fit-content;
                    min-width: 100%;
                    display: flex;
                    justify-content: flex-start;

                    >img {
                        height: 100%;
                        margin: 0 5px;
                    }

                    >img:first-child {
                        height: 100%;
                        margin: 0;
                    }
                }
            }

            .bottom {
                height: 30px;
                display: flex;
                align-items: center;

                .label {
                    margin-right: 10px;
                }
            }
        }

        .am-list-body::before,
        .am-list-body::after {
            height: 0;
        }

        .am-list-body {
            background-color: #fff;
            padding-bottom: 30px;

            .am-textarea-control textarea {
                font-size: 14px;
                color: #999;
            }

            .am-textarea-has-count {
                background-color: $bg-color;
                border-radius: 5px;
                height: 200px;
                margin: 0 10px;
            }

            .am-input-label {
                color: #333;
                font-size: 14px;
            }

            .am-image-picker {
                padding: 5px;
                background-color: #fff;
            }

            .button_wrapper {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                padding: 30px 20px;
                background-color: $bg-color;

                .am-button {
                    width: 250px;
                    background-color: $color-black;
                    border-radius: 25px;
                    border: none;
                    color: $color-green;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
    }

    .star-descibe {
        font-size: 14px;
        margin-left: 10px;
    }

    .star-wrapper {
        .am-list-header {
            >div {
                font-size: 15px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }

        .am-list-body {
            .am-list-line::after {
                height: 0 !important;
            }

            .am-list-line {
                .am-list-content {
                    font-size: 15px;
                    color: #333;
                }

                .am-list-extra {
                    box-sizing: border-box;
                    flex-basis: 70%;
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 10px;
                }
            }
        }
    }
}