.page404-wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 20px;
    a:visited{
        text-decoration: none;
        color: #fff;
    }
    .head404 {
        // width: 375px;
        width: 70%;
        // height: 151.3px;
        margin: 100px auto 0 auto;
        // background: url(../../assets/images/common/error/head404.png) no-repeat;
        background-size: 100% 100%;
        text-align: center;
        // background: url(../../assets/images/common/error/404.png) no-repeat;
        // background-size: 100% 100%;
        img{
            width:100%;
        }
    }
    
    .txtbg404 {
        width: 90%;
        height: 169px;
        margin: 10px auto 0 auto;
        // background: url(../../assets/images/common/error/404.png) no-repeat;
        // background-size: 100% 100%;
    }
    
    .txtbg404 .txtbox {
        width: 390px;
        position: relative;
        top: 30px;
        left: 60px;
        color: #eee;
        font-size: 13px;
        color:#666;
    }
    
    .txtbg404 .txtbox p {
        margin: 10px 0;
        line-height: 18px;
    }
    
    .txtbg404 .txtbox .paddingbox {
        padding: 10px 0;
    }
    
    .txtbg404 .txtbox p a {
        color: #666;
        text-decoration: none;
    }
    
    .txtbg404 .txtbox p a:hover {
        // color: #FC9D1D;
        text-decoration: underline;
    }
}

