*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #fff!important;
  font-family: Monospace!important;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  width: 100%;
  height: 100%;
  position: relative;
}
ul,li{
  list-style-type:none;
}
a{
  text-decoration: none;
}
/* 设置iconfont字体样式 */
.icon {
  /* width: 1em; height: 1em;
  vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}
/* 设置输入框placeholder样式 */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999;
  font-size: 14px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999;
  font-size: 14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
}
/* 外部字体 */
@font-face{
	font-family: 'TravelingThrough';
	src : url('./assets/fonts/Traveling-Through-1.otf');
}