
.am-whitespace.am-whitespace-md {
    background-color: #F5F5F5;
}

// flex居中布局
.container {
    height:100%;
    width: 100%;
    box-sizing: border-box;
}

// flex居中布局
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 强制文本换行
.newline {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
// 单行文本显示省略号
.overflowText{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
// 阴影
.boxShadow {
    // box-shadow: 0 -12px 5px -10px #CBCBCB inset;
    box-shadow: #ddd 0px 0px 10px;
}

// 禁止页面复制
.forbiddenSelect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

//售罄文字样式
.sold-out {
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 0px;
    right: 0;
}

//取消确认弹出框的重置样式
.am-modal-button-group-h .am-modal-button {
    font-size: 15px;
}
//暂无数据样式
.empty-data{
    width:100%;
    height:100%;
    font-size: 16px;
    color: #999;
    @extend .flexCenter;
}
//del样式
.amount_del{
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}
//重置ant按钮样式
.am-button::before{
    height: 0;
}
.am-action-sheet-share-cancel-button{
    font-size: 16px;
    color:#333;
}
