.aboutUs-wrapper {
    @extend .container;
    font-size: 16px;
    color: #666;
    padding-top: 10px;
    align-items: flex-start;
    background-color: $bg-color;

    .head {
        width: 100%;
        @extend .flexCenter;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 30px;
        margin-bottom: 10px;
        background-color: #fff;

        img {
            width: 80px;
            margin-bottom: 10px;
        }

        >p {
            width: 100%;
            font-size: 14px;
            text-align: center;
            margin: 2px 0;
        }
    }

    .content {
        padding: 20px;
        font-size: 14px;
        background-color: #fff;
        margin: 10px 0;
        line-height: 20px;

        >p {
            margin: 10px 0;

        }

        .title {
            font-size: 15px;
            color: #333;
        }

        .subtitle {
            font-size: 14px;
            color: #666;
            text-indent: 2em;
        }

        .describe {
            padding: 0 8px;
            margin: 5px 0;
            font-size: 14px;
            line-height: 25px;
            text-indent: 2em;
        }
    }
}