.logistics-wrapper{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px 20px 0;
  .am-steps-item-title{
    color:#333;
    font-size: 14px;
  }
  .am-steps-item-description{
    color:#666;
    font-size: 14px;
  }
}
  