.goodlist-wrapper {
    .am-whitespace.am-whitespace-md {
        background-color: #F5F5F5;
    }

    .head-title {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 14px;
        font-weight:bold;
        color: #333;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #F1F3F3;
    }

    .list-item {
        height: 90px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F1F3F3;

        .left-img {
            width: 60px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                width: 100%;
            }
        }

        .right-wrapper {
            flex: 1;
            height: 80%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-direction: row;

            >p {
                width: 100%;
            }

            .title {
                height: 60%;
                font-size: 14px;
                color: #333;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .describe {
                height: 40%;
                font-size: 13px;
                color: #666;
                display: flex;
                align-items: center;
            }
        }
    }
}